/* Text Truncation for Single Line */
.text-truncate-single {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.score-badge {
    display: block;
    padding: 0.5rem;
}

.score-text {
    font-size: 0.85rem;
    font-weight: bold;
}

.report-list-description {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
