/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.news-list-article-image {
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
}
