/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* REPORT DETAIL STYLES */
.youtube-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.report-detail-description {
    white-space: pre-wrap;
}

.report-detail-hack-badge {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.reporter-profile-pic {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
}

/* COMMENT STYLES */
.comment-textarea {
    resize: none;
}

.comment-profile-pic {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

