/* User Profile Template Specific Styles */

/* User Profile Report Description Two-Line Clamp */
.report-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
